<section class="slds-size_1-of-1">
  <h1>
    Currency Converter
  </h1>
  <div class="currency-component slds-form-element">
    <label for="base-input" class="slds-size_1-of-1">Type in amount and select currency:</label>
    <div class="slds-form-element__control slds-size_1-of-1">
      <input id="base-input" placeholder="0.00" (keyup)="onKeyUpBase($event.target.value)" (click)="onKeyUpBase($event.target.value)"
        [(ngModel)]="baseValue" />
      <p-dropdown [options]='currencyBaseList' [(ngModel)]="selectedBase" (onChange)="onSelectBase()" (click)="clearFilter(base)"
        #base></p-dropdown>
    </div>
    <label for="convert-input" class="slds-size_1-of-1">Converted amount:</label>
    <div class="slds-form-element__control slds-size_1-of-1">
      <input id="convert-input" placeholder="0.00" (keyup)="onKeyUpConvert($event.target.value)" (click)="onKeyUpConvert($event.target.value)"
        [(ngModel)]="convertValue" />
      <p-dropdown [options]='currencyConvertList' [(ngModel)]="selectedConvert" (onChange)="onSelectConvert()" (click)="clearFilter(convert)"
        #convert></p-dropdown>
    </div>
    <a href="#" class="slds-right" (click)="showExchangeRate()">Disclaimer</a>
  </div>
  <p class="disclaimer-text" *ngIf="isDisclaimer">The details expressed within this website only for user purpose, conversion rates are subject to change based on Fixer API.</p>
</section>

