$font-family: Helvetica,
sans-serif;
$primary-padding: 10px;
$primary-font-size: 14px;
$secondary-font-size: 12px;
.currency-component {
  // font: 100% $font-family;
  padding: $primary-padding;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24); // width: 100%;
}

:host {
  box-sizing: border-box;
  display: inline-flex; // width: 33%;
  padding: 10px;
}

.disclaimer-container {
  width: 100%;
  min-height: 40px;
}
.disclaimer-text{
  width: 276px;
  text-align: left;
  padding-top: 20px;
}

div {
  label {
    font-weight: 600;
  }
  label,
  a {
    font-size: $secondary-font-size;
  }
  a:visited,
  a:hover {
    color: #337ab7;
  }
  div {
    input,
    p-dropdown {
      font-size: $primary-font-size;
      margin: 5px 10px 15px 0;
      border-radius: 3px;
    }
    input {
      padding: 3px;
      border: 1px solid #ccc;
      line-height: 22px;
    }
  }
  a {
    float: right;
  }
}
